.box{z-index: -1;color: rgba(80, 80, 80, 1);background-color: #F5F5F5;border-radius: 8px;padding: .3rem;display: flex;margin-bottom: 24px;font-size: 18px;min-height: 100%;}
 
 /* 大div 图片试卷 */
.big-box{width: 100%;height: 100%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);padding: .3rem;text-align: center;min-height: 768px;}
.big-box .header-top{display: flex;justify-content: space-around;align-items: center;flex-direction: column;}
.big-box .header-top .time .ts-time{color: #FA4B1B;font-size: 48px;font-weight: bold;display: flex;justify-content: center;align-items: center;margin:14px 0;width: 100%;}
.big-box .header-top .message-top{border-left: 8px solid #19ADFB;display: flex;flex-direction: column;padding-left: 16px;align-items: center;}
.big-box .header-top .message-top .i1{font-size: 18px;color: #333333;font-weight: bold;}
.big-box .header-top .message-top .i2{font-size: 16px;color: #999999;margin-top: 8px;}
.big-box .header-top .buttom{background-color:#19ADFB ; color: #FFFFFF;font-weight: bold;border-radius: 4px;padding: 20px 40px;font-size: 16px;}
.big-box .header-top .other-box{display: flex;flex-direction: column;}
.big-box .header-top .ewm{margin-left: 10px;display: block;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);padding: 10px;width: 120px;height: 120px;display: inline-table;text-align: center;}
.big-box .header-top .l{font-size: 14px;margin-top: 4px;margin-bottom: 8px;}
.big-box .header-top .status{font-size: 18px;font-weight: bold;color: #19AEFB;margin-bottom: 8px;}
.big-box .content-b{margin-top: 80px;}
.big-box .content-b .message-top{border-left: 8px solid #19ADFB;text-align: left;display: flex;padding-left: 16px;font-size: 18px;font-weight: bold;} 
.big-box .content-b .ts{margin: 16px;font-size: 14px;color: #999999;text-align: left;}
.big-box .content-b .questions-img{width: 100%;display: flex;min-width: 100%;overflow: auto;height: 180px;display: flex; flex: 1;width: 0;white-space: nowrap;}
.big-box .questions-img .img-box{text-align: center;}
.big-box .questions-img .img-box-i{position: relative;}
.big-box .questions-img .img{width: 100%;margin: 0 10px;cursor: pointer;}
.big-box .questions-img .img-shade{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);top: 0;margin-left: 10px;display: flex;align-items: center;justify-content: center;z-index: 9999;}
.big-box .questions-img .img-shade .icon{font-size: 26px;color: #FFFFFF;margin: 0 5px;cursor: pointer;}
.big-box .questions-img .i{color: #999999;font-size: 14px;overflow: hidden;width: 180px;}
.big-box .exam-img{margin-top: 40px;width: 100%;}
.big-box .img{width: 100%;}

/* 上传页面 */
.up-box{width: 100%;height: 100%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);padding: .21rem .24rem;text-align: center;min-height: 768px;}
.up-box .button{font-size: .38rem;font-weight: bold;padding: .2rem 1.2rem;}

/* 有答题卡 */
.big-box .ts{font-size: 18px;font-weight: bold;margin: 20px;}
.big-box .ts .button{padding: 16px 60px;color: #FFFFFF;background-color: #19ADFB;margin-top: 10px;font-size: 18px;font-weight: bold;}
.big-box .ts .button .icon{font-size: 16px;font-weight: bold;margin:  0 8px ;}
.big-box .ts .other-box{margin:20px 0;}
.big-box .ts .ewm{margin-left: 10px;display: block;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);padding: 10px;width: 200px;height: 200px;display: inline-table;text-align: center;}
.big-box .ts .l{font-size: 14px;margin-top: 4px;margin-bottom: 8px;}
.big-box .ts .status{font-size: 18px;font-weight: bold;color: #19AEFB;margin-bottom: 8px;}
.big-box .ts .ts-i{color: #13CE66;font-size: 17px;margin-top: 10px;}
.big-box .ts .ts-i .icon{margin: 0 8px;}
 
 
.font-i{color: #999999;font-size: 14px;}
.left-box{width: 100%;height: 100%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);padding: .3rem;text-align: center;min-height: 768px;}
.left-box .user-img{width: 90px;height: 90px;border-radius: 50%;}
.left-box .card-top{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.left-box .user-top{width: 100%;margin-top: 30px;}
.left-box .username{}
.left-box .name{font-size: 20px;}
.left-box .user-id{font-size: 18px;color: rgba(128, 128, 128, 1);margin-top: 12px;}
.left-box .ii{font-size: 25px;font-weight: bold;color: rgba(128, 128, 128, 1);margin-left: auto;cursor: pointer;}
.left-box .identity{font-size: 20px;color: #FFFFFF;background-color: #19ADFB;display: inline-block;padding: 10px 46px;border-radius: 4px;margin: 12px 0;}
.left-box .school{font-size: 20px;font-weight: bold;}
.left-box .message{margin-left: auto;font-size: 20px;color: #333333;}
.left-box .grade{margin-top: 12px;color: #999999;font-size: 20px;}
.left-box .exam-box{margin-top: 30px;}
.left-box .exam-box .e-title{font-size: 20px;font-weight: bold;}
.left-box .exam-box .e-particular{margin-top: 12px;font-size: 20px;color: #999999;}
.left-box .box-card{height: 100%;}
.left-box .change-box{margin-top: 90px;display: flex;}
.left-box .icon{font-size: 60px;color: #2bbb61;}
.left-box .name-change{font-size: 22px;margin-top: 12px;}
.left-box .particular-change{font-size: 16px;color: rgba(153, 153, 153, 1);margin-left: 18px;}
.left-box .icon2{font-size: 25px;font-weight: bold;color: rgba(153, 153, 153, 1);margin-left: auto;}

/* 左边的答题区域 */
.left-box .answer{display: flex;flex-wrap: wrap;justify-content: center;height: 100%;}
.left-box .answer .ts{font-size: 18px;}
.left-box .answer .ts-time{color: #FA4B1B;font-size: 48px;font-weight: bold;display: flex;justify-content: center;align-items: center;margin:14px 0;width: 100%;}
.left-box .answer .all-topic-box{width: 100%;}
.left-box .answer .all-topic-box .li{overflow: auto;height: 460px;margin: 10px 0;width: 100%;}
.left-box .answer .at-number .button{border-radius: 8px;background-color: #999999;color: #FFFFFF;padding: 10px 20px;}
.left-box .answer .at-number .button.i{background-color: #19ADFB;}
/* .left-box .answer .all-topic-box .li-i{display: flex;} */
.left-box .answer .all-topic-box .at-top{text-align: left;font-size: 16px;font-weight: bold;margin-top: 10px;}
.left-box .answer .at-title{margin: 14px 0;font-weight: bold;font-size: 18px;}
.left-box .answer .at-title-i{font-size: 16px;font-weight: bold;text-align: left;line-height: 36px;}
.left-box .answer .at-number{margin: 10px 0;}
.left-box .answer .affirm{align-self: flex-end;}

 .previous,.next{padding: .4rem;background-color: #999999;color: #FFFFFF;font-weight: bold;font-size: 20px;}

.left-box .answer .bottom-ts{margin-top: 8px;font-size: 14px;color: #333333;}




.right-box{width: 100%;padding: .3rem;min-height: 768px;height: 100%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);}
/* 试卷首页 */
.right-box .process{padding: .2rem;display: flex;justify-content: center;flex-wrap: wrap;}
.right-box .process .ts{font-size: 18px;display: flex;align-items: center;justify-content: center;color: #333333;width: 100%;}
.right-box .process .ts-time{color: #FA4B1B;font-size: 48px;font-weight: bold;display: flex;justify-content: center;align-items: center;margin:20px 0;width: 100%;}
.right-box .process .ts-a-box{margin-top: 34px;display: flex;justify-content: center;align-items: center;flex-direction: column;line-height: 2;border-bottom: 1px solid #999999 ;padding-bottom: 20px;width: 100%;}
.right-box .process .ts-a-box .t1{font-size: 18px;font-weight: bold;}
.right-box .process .ts-a-box .t2{font-size: 14px;color: #999999;}
.right-box .process .ts-a-box .t3{font-size: 14px;color: #19ADFA;}
.right-box .process .go-box{width: 100%;margin-top: 20px;display: flex;justify-content: center;flex-wrap: wrap;}
.right-box .process .go:first-child{margin-left: 0;}
.right-box .process .go{width: 100%;margin-left: 1%;display: flex;flex-direction: column;}
.right-box .process .go .ts{display: flex;justify-content: center;margin: 6px 0;font-size: 14px;font-weight: bold;}
.right-box .process .go .buttom{background-color: #FB4B1B;color: #FFFFFF;border-radius: 4px;font-size: 16px;font-weight: bold;padding: 20px;margin: 5px 0;}
.right-box .process .go .buttom.i{background-color: #2BBB61;}
.right-box .process .go .ts1{margin: 5px 0;line-height: 1.8;}
.right-box .process .go .ts1 p{color: #999999;font-size: 14px;}

/* 人脸 */
.right-box .face-box{padding: .1rem;display: flex;justify-content: center;flex-direction: column;align-items: center;}
.right-box .face-box .ts{font-size: 18px;font-weight: bold;}
.right-box .face-box .ts2{font-size: 16px;color: #999999;margin-top: 14px;}
.right-box .face-box .face-img{margin-top: 20px;width: 100%;min-height: 500px;}
.right-box .face-box .bottom-box{display: flex;justify-content: space-around;width: 100%;}
.right-box .face-box .bottom-box .photograph{background-color: #FB4B1C;padding: 24px;color: #FFFFFF;border-radius: 4px;font-weight: bold;font-size: 18px;display: block;display: flex;align-items: center;}
.right-box .face-box .bottom-box .black{background-color: #2BBB61;padding: 24px;color: #FFFFFF;border-radius: 4px;font-weight: bold;font-size: 18px;display: block;}


/* 右边的小题答题区域 */
.right-box .questions{padding: .3rem;font-size: 18px;}
.right-box .questions .message-top{border-left: 8px solid #1AAEFB;display: flex;align-items: center;padding-left: 12px;font-weight: bold;font-size: 20px;margin-bottom: 10px;justify-content: space-between;flex-wrap: wrap;}
.right-box .questions .message-top .tag{font-size: 18px;font-weight: bold;height: auto!important;line-height: 32px!important;}
.right-box .questions .content-b{padding: 0 16px;display: flex;justify-content: space-between;align-items: center;}
.right-box .questions .content-b .ewm{margin-left: 10px;display: block;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);padding: 10px;width: 120px;height: 120px;display: inline-table;text-align: center;}
.right-box .questions .content-b .l{font-size: 14px;margin-top: 4px;}
.right-box .questions .content-cc{margin: 10px 0;}
.right-box .questions .content-cc .cc-img{margin: 10px 0;}
.right-box .questions .content-c .img-box{max-height: 254px;overflow: auto;}
.right-box .questions .c-title{font-weight: bold;}
.right-box .questions .cc-title{font-size: 18px;font-weight: bold;}
.right-box .questions .choice{display: flex;justify-content: center;align-items: center;flex-direction: column;width: 100%;}
.right-box .questions .userChoice{padding: 16px;color: #999999;display: flex;align-items: baseline;font-size: 16px;}
.right-box .questions .userChoice .i{color: #1AAEFB;font-weight: bold;}
.right-box .questions .reset{color: #FFFFFF;background-color:#19ADFA ;font-size: 18px;display: flex;justify-content: center;font-weight: bold;padding: .3rem;align-items: center;}
.right-box .questions-img {min-width: 100%;overflow: auto;height: 180px;display: flex; flex: 1;width: 0;white-space: nowrap;}
/* .right-box .questions-img {min-width: 100%;overflow: auto;height: 180px;white-space: nowrap;} */
.right-box .questions-img .img-box{text-align: center;}
.right-box .questions-img .img-box-i{position: relative;}
.right-box .questions-img .img{width: 100%;margin: 0 10px;cursor: pointer;}
.right-box .questions-img .img-shade{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);top: 0;margin-left: 10px;display: flex;align-items: center;justify-content: center;z-index: 9999;}
.right-box .questions-img .img-shade .icon{font-size: 26px;color: #FFFFFF;margin: 0 5px;cursor: pointer;}
.right-box .questions-img .i{color: #999999;font-size: 14px;overflow: hidden;width: 180px;}
.right-box .questions-img .answer{font-size: 16px;font-weight: bold;}


/* 考试完成 */
.finish-box {width: 100%;height: 100%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);padding: 42px 58px;text-align: center;}
.finish-box .ts-time{color: #FA4B1B;font-size: 48px;font-weight: bold;display: flex;justify-content: center;align-items: center;margin:14px 0;width: 100%;}
.finish-box .last{margin-top: 20px;}
.finish-box .img{margin-bottom: 20px;}
.finish-box .ii{font-size: 24px;font-weight: bold;}
.finish-box .iii{font-size: 16px;margin-top: 14px;}


.box /deep/ .el-upload-list--picture .el-upload-list__item{height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px;}
.box /deep/ .el-upload-list--picture .el-upload-list__item-thumbnail{height: auto;width: 3.6rem;margin-top: 0.2rem;margin-left: 0;}
.box /deep/ .el-upload-list--picture .el-upload-list__item-name i{display: none;}
.box /deep/ .el-upload-list__item-name{text-overflow: clip;white-space: pre-line;text-align: center;margin-right: 0;padding-left: 0;}
.box /deep/ .el-progress-bar{margin-top: 4px;}
.box /deep/ .el-checkbox-button__inner{background-color: #999999;color: #FFFFFF;}
.box /deep/ .el-checkbox-button.is-checked .el-checkbox-button__inner{background-color: #409EFF;}
.box /deep/ .el-checkbox-button .el-checkbox-button__inner{border-left: 1px solid #DCDFE6;border-radius: 4px;min-width: 80px;padding: 10px 8px;}
.box /deep/ .el-checkbox-button.is-checked .el-checkbox-button__inner{border-left-color:#409EFF}
.box /deep/ .el-checkbox-button{margin-left: 5px;margin-top: 10px;margin-right: 5px;}
.box /deep/ .el-cascader-node>.el-radio, .el-radio{margin-top: 10px;font-size: 18px;padding: 20px;background-color: #999999;color: #FFFFFF;border-radius: 4px;}
.box /deep/ .el-radio__label{font-size: 20px;}
.box /deep/ .el-radio-button__inner{border: none;font-size: 18px!important;border-radius: 4px;margin-top: 10px;font-weight: bold!important;display: flex;align-items: baseline;}
.box /deep/ .el-cascader-node>.el-radio, .el-radio:last-child{margin-right: 30px;}
/* 分页 */
.page{display: flex;justify-content: center;align-items: center;margin: 20px;}