.box {background-color: #f5f5f5;height: 100%;}
.el-row {margin-bottom: 20px;}



.grid-cont-right {flex: 1;text-align: center;font-size: 14px;color: #999;}

.grid-num {font-size: 30px;font-weight: bold;}

.grid-con-icon {font-size: 50px;width: 100px;height: 100px;text-align: center;line-height: 100px;color: #fff;}

.grid-con-1 .grid-con-icon {background: rgb(45, 140, 240);}
.grid-con-1 .grid-num {color: rgb(45, 140, 240);}
.grid-con-2 .grid-con-icon {background: rgb(100, 213, 114);}
.grid-con-2 .grid-num {color: rgb(45, 140, 240);}
.grid-con-3 .grid-con-icon {background: rgb(242, 94, 67);}
.grid-con-3 .grid-num {color: rgb(242, 94, 67);}

.grid-content {display: flex;align-items: center;height: 100px;}
.message-row{width: 918px;line-height: 1.5;}
  .el-row {
    margin-bottom: 20px;
  }
 .message-top {margin-bottom: 24px;border-left: 8px solid #19ADFB;display: flex;align-items: center;padding-left: 10px;font-weight: bold;font-size: 20px;padding-top: 2px;padding-bottom: 2px;}
.bg-purple {background: #d3dce6;}
.bg-purple-light {background: #e5e9f2;}
.grid-content {background-color: #4163e3;min-height: 140px;padding: 0 30px;border-radius: 15px;box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.2);}
.grid-content.other{background-color: #FFFFFF;display: flex;justify-content: center;flex-direction: column;align-items: center;}
.row-bg {padding: 10px 0;background-color: #f9fafc;}
.message-row .card-left {width: 50%;padding: 0;display: flex;flex-direction: column;background:none;color: #FFFFFF;}
.card-left .card-c{font-size: 18px;margin-top: 12px;}
.card-left .card-cc{font-size: 40px;}
.card-other-i{background-color: #FB4B1B;color: #FFFFFF;padding: 12px 60px;border-radius: 4px;font-size: 20px;font-weight: bold;}
.card-other-i.o{background-color: #2BBB61;}
.card-other-i.oo{background-color: #F3AF1E;}
.card-other-ii{color: #000000;margin-top: 8px;font-size: 14px;letter-spacing: 2px;}
.message-row .card-right{width: 50%;height: 100%;padding: 0;background-image: url(../img/bg-1.png);background-position: 100% 50%;background-repeat: no-repeat;}
.message-row .card-title{font-size: 24px;display: flex;width: 100%;flex-wrap: wrap;}
.message-row .card-i {width: 100%;display: flex;justify-content: center;align-items: center;}

.flex{display: flex;align-items: center;justify-content: space-around;}
.el-row-box{width: 100%;height: 100%;}
.card-box{color: #FFFFFF;height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.card-box .card-t{font-size: 18px;}
.son{height: 100%;}
.card-box .num{font-size: 40px;margin-top: 0px;}

.papers-box{display: flex;margin: 40px 0;margin-top: 30px;flex-wrap: wrap;}
.p-li{background-color: #FFFFFF;width: 32.66667%;height: 210px;border-radius: 10px;margin-top: 10px;margin-left: 1%;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);padding: 20px 24px;display: flex;color: #333333;font-size: 14px;text-align: justify;letter-spacing:0.5px;background-image: url(../img/may-download.png);background-repeat: no-repeat;background-position: calc( 100% - 24px ) 90%;}
.p-li:nth-child(3n+1){margin-left: 0;}
.p-icon-box{height: 100%;width: 38px;margin-right: 12px;}
.p-icon{width: 38px;height: 48px;background-image: url(../img/book.png);background-size: 100%;}
.p-particula{}
.top-box{display: flex;margin-bottom: 14px;}
.subject{color: #19aefb;width: 50px;}
.grade{font-size: 14px;}
.p-title{margin-bottom: 12px;}
.p-time{margin-bottom: 16px;color: #999999;}
.p-indent{margin-bottom: 8px;color: #999999;}
.p-status{color: #2bbb61;margin-bottom: 14px;}
.p-status.ts{color: #FB4A1A;}
.p-status-icon{font-size: 20px;color: #999999;font-weight: bold; cursor: pointer;}

.page{display: flex;justify-content: center;margin: 30px 0;}

.box{.ts-box{display: flex;flex-wrap: wrap;}} 
.big-icon{font-size: 100px;color: rgba(67, 207, 124, 1);width: 100%;text-align: center;}
.ts-box .ii{font-size: 28px;color: rgba(67, 207, 124, 1);width: 100%;text-align: center;margin-top: 28px;} 
.box /deep/.el-dialog{display: flex;flex-direction: column;margin:0 !important;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}  
.box /deep/.el-dialog .el-dialog__body{flex:1;overflow: auto;}
