.box{color: rgba(80, 80, 80, 1);background-color: #F5F5F5;border-radius: 8px;height: 100%;padding: 36px;display: flex;background-image: url(../img/login.png);background-size: cover;border-radius: 10px;justify-content: center;}

.left-box{width: 33%;background-color: #FFFFFF;border-radius: 10px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);padding: 42px 58px;text-align: center;align-items: center;position: relative;}
.left-box .user-img{width: 90px;height: 90px;border-radius: 50%;}
.left-box .card-top{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.left-box .user-top{width: 100%;margin-top: 30px;}
.left-box .username{}
.left-box .name{font-size: 20px;}
.left-box .user-id{font-size: 18px;color: rgba(128, 128, 128, 1);margin-top: 12px;}
.left-box .ii{font-size: 25px;font-weight: bold;color: rgba(128, 128, 128, 1);margin-left: auto;}
.left-box .identity{font-size: 20px;color: #FFFFFF;background-color: #19ADFB;display: inline-block;padding: 10px 46px;border-radius: 4px;margin: 12px 0;}
.left-box .school{font-size: 20px;font-weight: bold;}
.left-box .message{margin-left: auto;font-size: 20px;color: #333333;}
.left-box .grade{margin-top: 12px;color: #999999;font-size: 20px;}
.left-box .form{margin: 58px 0;color: #FFFFFF;}
.left-box .buttom-true{color: #FFFFFF;}
/* .left-box .buttom-false{} */
.title{font-size: 20px;font-weight: bold;color: rgb(43, 187, 97);margin-top: 100px;}

.left-box .change-box{margin-top: 90px;display: flex;}
.left-box .li{padding: 15px 14px;display: flex;align-items: center;flex-direction: column;justify-content: space-around;width: 100%;}
.left-box .icon{font-size: 60px;color: #2bbb61;}
.left-box .name-change{font-size: 22px;margin-top: 12px;}
.left-box .particular-change{font-size: 16px;color: rgba(153, 153, 153, 1);margin-left: 18px;}
.left-box .icon2{font-size: 25px;font-weight: bold;color: rgba(153, 153, 153, 1);margin-left: auto;}

/* 中间 */
.middle-box{width: 33%;padding: 34px;margin-left: 20px;background-color: #FFFFFF;position: relative;}
.message-top {margin-bottom: 24px;border-left: 8px solid #19ADFB;display: flex;align-items: center;padding-left: 10px;font-weight: bold;font-size: 20px;padding-top: 2px;padding-bottom: 2px;}
.message-box{margin:26px 0;}
 .i{margin-top: 8px;}
.bottom-box{display: flex;justify-content: center;color: #FFFFFF;position: absolute;bottom: 24px;width: calc(100% - 32px);left: 50%;right: 50%;margin: auto;transform: translate(-50%, -50%); }
 .bottom{color: #FFFFFF;background-color: #2BBB61;}
 .bottom-i{color: #FFFFFF;background-color: #2BBB61;}
 .bottom-i.ii{background-color: #FFFFFF;color: #333333;}

/* 右边 */
.right-box{width: 33%;padding: 34px;margin-left: 20px;background-color: #FFFFFF;position: relative;}


.page{font-size: 18px;color: #a6a6a6;text-align: center;margin-top: 18px;}


.bottom-box{margin: 20px 0; }
.discount {text-align: right;}
.discount .i{color: #333333;font-size: 18px;}
.discount .ii{color: #FB4919;font-size: 22px;font-weight: bold;}
.last{display: flex;justify-content: space-between;}
.last .remind{display: flex;align-items: flex-end;font-size: 18px;}

/* 弹窗 */
.ts-select{}
.ts-select .t-title{border-left: 8px solid #2BBB61;padding-left: 8px;font-size: 18px;font-weight: bold;color: #333333;display: flex;justify-content: space-between;align-items: center;}
.ts-select .t-box{display: flex;margin-top: 10px;}
.ts-select .t-left{width: 50%;}
.ts-select .upload-demo{margin: 20px 0;}
.ts-select .choice{margin-top: 5px;}
.ts-select .i{color: #2BBB61;}
.ts-select .lead{font-size: 18px;font-weight: bold;margin-top: 10px;}
.ts-select .t-right{width: 50%;margin-left: 20px;}
.t-right .log{font-weight: bold;font-size: 18px;color: #333333;margin-bottom: 10px;}
.t-right .other{text-align: justify;letter-spacing: 1.5px;line-height: 1.8;}
.ts-select .t-content{margin-top: 8px;}
.ts-select .arr{margin-left: 18px;margin-top: 5px;margin-bottom: 5px;}
.ts-select .arr span{color: #999999;}
.ts-select .arr span:nth-child(2){color: #2BBB61;}
.ts-select .student-box{margin-top: 10px;}
.ts-select .student-name{margin:  0 10px ;white-space: nowrap;}
.box /deep/ .el-table th{text-align: center;}
.box /deep/ .el-table td, .el-table th.is-leaf{text-align: center;}
.box /deep/.el-date-editor .el-range-separator{padding: 0;}
.ts-select .block-time{margin-top: 20px;display: flex;align-items: center;justify-content: space-between;}
.ts-select .block-a{color: #FFFFFF;}
.ts-select .out{padding: 14px 20px;background-color: #2BBB61;color: #FFFFFF;border-radius: 4px;}
.ts-select .affirm {padding: 14px 20px;background-color: #FB4919;color: #FFFFFF;border-radius: 4px;}
.group,.row-group{display: flex;align-items: center;}
.box /deep/ .el-checkbox-button__inner{border: none;border-radius: 8px;padding: 8px 22px;margin:0 5px}
.box /deep/ .el-checkbox-button.is-checked .el-checkbox-button__inner {background-color: rgb(43, 187, 97);border-color: rgb(43, 187, 97);}
.box /deep/ .el-checkbox-button--small .el-checkbox-button__inner{font-size: 14px;}
.box /deep/ .el-checkbox-button, .el-checkbox-button__inner{min-width: 92px;}
.ts-select /deep/ .el-progress{width: 200px;}
.row-group .th-group{font-size: 14px;margin-right: 14px;padding: 8px 22px;min-width: 100px;}
.row-group .td-group{font-size: 14px;}
.box /deep/.el-dialog{display: flex;flex-direction: column;margin:0 !important;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}  
.box /deep/  .el-dialog .el-dialog__body{flex:1;overflow: auto;}
.box /deep/ .el-select{width: 100%;}