.box{padding: 20px;border-radius: 8px;width: auto;height: 100%;overflow-y: scroll;-webkit-box-sizing: border-box;box-sizing: border-box;color: #333333;font-size: 14px;display: flex;}
.row-group{width: 100%;display: flex;align-items: center;padding: 5px;}
.row-group .th-group{font-size: 14px;margin-right: 38px;width: 60px;}
.t-content{padding: 20px;border-radius: 8px;}
.left{margin-right: 48px;background: #FFFFFF;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);border-radius:10px;padding: 24px;width:35%;}
.l-box-1{width: 100%;background: #fff;border-radius: 10px;}
.ids{margin-top: 20px;width: 100%;}
.l-title{font-size: 20px;font-weight: bold;color: #333333;border-left: 8px solid #2BBB61;padding-left: 16px;display: flex;align-items: center;}
.l-box-1+.l-box-1{margin-top: 40px;}
.box /deep/.el-input__inner{border-left: none ;border-right: noe;border-top: none;padding: 0 10px ;}
.box /deep/ .el-textarea__inner{margin-top: 20px;padding:20px; min-height: 160px;}
.l-box-2{margin-top: 60px;display: flex;width: 100%;justify-content: center;}
.box /deep/ .el-upload-dragger .el-icon-check {
    font-size: 67px;
    color: #C0C4CC;
    margin: 40px 0 16px;
    line-height: 50px;
    color: #2BBB61;
}
.right{width: 60%;height: 100%;border-radius:10px;}
.box /deep/ .el-table th{text-align: center;font-size: 18px;}
.box /dedp/ .el-table td, .el-table th{text-align: center;font-size: 14px;}
.box /deep/ .el-table td, .el-table th.is-leaf{background-color: #FFFFFF;border: 0;padding: 12px;text-align: center;border-radius: 10px;}

.user-img{width: 50px;height: 50px;border-radius: 50%;}
.student-name{margin-left: 10px;white-space: nowrap;}

.page{display: flex;justify-content: center;align-items:center;margin-top:20px;}

.card-box{margin-top: 40px;}
.bg-purple {background: #d3dce6;}
.bg-purple-light {background: #e5e9f2;}
.grid-content {background-color: #FFFFFF;min-height: 140px;padding: 0 30px;border-radius: 15px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);flex-direction: column;display: flex;justify-content: center;align-items: center;color: #FFFFFF;}
.card-box .i{background-color: #FB4B1C;font-size: 18px;padding: 14px 46px;font-weight: bold;border-radius: 4px;color: #FFFFFF;}
.card-box .ii{color: #333333;margin-top: 4px;}

.hint{font-size: 14px;color: #333333;margin-top: 20px;letter-spacing: 1.5px;}
.group .th-group{
    padding:10px 0px;
}
.group /deep/ .el-radio-button__inner{border: none;border-radius: 8px;padding: 8px 22px;margin:0 5px}
.group /deep/ .el-radio-button.is-checked .el-radio-button__inner {background-color: rgb(43, 187, 97);border-color: rgb(43, 187, 97);}
.group /deep/ .el-radio-button--small .el-radio-button__inner{font-size: 14px;}
.group /deep/ .el-radio-button, .el-radio-button__inner{min-width: 92px;}
.group /deep/ .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: rgb(43, 187, 97);border-color: rgb(43, 187, 97);color: #fff;
}


.box /deep/ .el-radio__input.is-checked .el-radio__inner{
    border-color:rgb(43, 187, 97);
    background: rgb(43, 187, 97);
}
.box /deep/ .el-radio__input.is-checked+.el-radio__label{
    color: #2BBB61;
}
.group /deep/  .el-radio-button__inner:hover{
    color: #2BBB61;
}