.box{padding: 20px;border-radius: 8px;width: auto;height: 100%;overflow-y: scroll;-webkit-box-sizing: border-box;box-sizing: border-box;color: #333333;font-size: 14px;display: flex;}

.left{width: 35%;margin-right: 48px;background: #FFFFFF;height: 100%;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);border-radius:10px;padding: 24px;}
.l-box-1{width: 100%;}
.ids{margin-top: 20px;width: 100%;}
.l-title{font-size: 20px;font-weight: bold;color: #333333;border-left: 8px solid #2BBB61;padding-left: 16px;display: flex;align-items: center;}
.l-box-1+.l-box-1{margin-top: 50px;}
.box /deep/.el-input__inner{border-left: none ;border-right: noe;border-top: none;padding: 0 20px ;}
.box /deep/ .el-textarea__inner{margin-top: 20px;padding:20px;}
.l-box-2{margin-top: 20px;display: flex;width: 100%;justify-content: center;}

.right{width: 60%;height: 100%;border-radius:10px;}
.group{width: 100%;background-color: #FFFFFF;padding: 32px 26px;border-radius:10px;}
.row-group{display: flex;align-items: center;}
.group /deep/ .el-checkbox-button__inner{border: none;border-radius: 8px;padding: 8px 22px;margin:0 5px}
.group /deep/ .el-checkbox-button.is-checked .el-checkbox-button__inner {background-color: rgb(43, 187, 97);border-color: rgb(43, 187, 97);}
.group /deep/ .el-checkbox-button--small .el-checkbox-button__inner{font-size: 14px;}
.row-group .th-group{font-size: 14px;margin-right: 14px;padding: 8px 22px;min-width: 100px;}
.row-group .td-group{font-size: 14px;}


.card-box{margin-top: 40px;}
.bg-purple {background: #d3dce6;}
.bg-purple-light {background: #e5e9f2;}
.grid-content {background-color: #FFFFFF;min-height: 140px;padding: 0 30px;border-radius: 15px;box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.04);flex-direction: column;display: flex;justify-content: center;align-items: center;color: #FFFFFF;}
.card-box .i{background-color: #FB4B1C;font-size: 18px;padding: 14px 46px;font-weight: bold;border-radius: 4px;}
.card-box .ii{color: #333333;margin-top: 4px;}

.hint{font-size: 14px;color: #333333;margin-top: 20px;letter-spacing: 1.5px;}